<div style="margin-top: 100px;" class="container mt-5">
    <% @flats.each do |flat| %>
    <%= flat.name %>
    <%= flat.description %>
    <%= flat.address %>
    <%= flat.price %>€
    <%= link_to "Voir l'appartement", flat_path(flat) %><br><br>
    <% end %>
</div>