<div class="container mt-5">
    <div class="d-flex flex-wrap">
        <div class="infos-appart col-6">
            <h1><%= @flat.name %></h1>
            <p><%= @flat.description %></p>
            <p><%= @flat.address %></p>
            <p><span style="background-color: red; border-radius: 4px; padding: 3px;"><%= @flat.price %></span>€</p>
            <img class="sizing mb-3" src="<%= @flat.image %>">
            <div>
                <a id="pulsation" class="btn btn-success text-white" href="<%= @flat.id %>/bookings/new"> Réserver maintenant</a>
            </div>
        </div>
        <div class="mapping col-6">
            <div style="width: 100%; height: 600px;"
                data-controller="map"
                data-map-markers-value="<%= @markers.to_json %>"
                data-map-api-key-value="pk.eyJ1IjoiYm9vYnljb2RpZXBpZSIsImEiOiJjbGJmOW14eXEwNDA1M3Byd3ZubGRscjdhIn0.AJ7N7n4KZsg6_npge1oqmg">
            </div>
        </div>
    </div>
</div>