<%= render 'shared/banner' %>
    <div class="container">
        <div class="d-flex justify-content: center;">
            <% @flats.each do |flat| %>
            <div class="card m-3" style="width: 30vw;">
                <img src="<%= flat.photo.url %>" class="card-img-top sizing" alt="<%= flat.name %>">
                <div class="card-body">
                    <h5 class="card-title"><%= flat.name %></h5>
                    <p class="card-text"><%= flat.description %>,  Localisation 📍: <%= flat.address %></p>
                    <%= flat.price %>€<br><br>
                    <%= link_to "Voir le logement", flat_path(flat), class: 'btn btn-success text-white' %>
                </div>
            </div>
            <% end %>
        </div>
    </div>


<%# search bar %>


<!-- 
<%= form_with url: capsules_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "control",
          placeholder:"le voyage commence ici"%>
          <%= submit_tag "RECHERCHE", class: "btn btn-primary" %>
<% end %> 
-->